//! **************************************************************************
// Written by: Map P.20131013 on Sat May 26 14:20:33 2018
//! **************************************************************************

SCHEMATIC START;
COMP "DVI_H" LOCATE = SITE "AM12" LEVEL 1;
COMP "DVI_RESET_B" LOCATE = SITE "AK6" LEVEL 1;
COMP "I2C_SDA_video" LOCATE = SITE "T29" LEVEL 1;
COMP "XCLK_P" LOCATE = SITE "AL11" LEVEL 1;
COMP "DVI_D<0>" LOCATE = SITE "AB8" LEVEL 1;
COMP "DVI_D<1>" LOCATE = SITE "AC8" LEVEL 1;
COMP "DVI_V" LOCATE = SITE "AM11" LEVEL 1;
COMP "DVI_D<2>" LOCATE = SITE "AN12" LEVEL 1;
COMP "DVI_D<3>" LOCATE = SITE "AP12" LEVEL 1;
COMP "DVI_D<4>" LOCATE = SITE "AA9" LEVEL 1;
COMP "DVI_D<5>" LOCATE = SITE "AA8" LEVEL 1;
COMP "DVI_D<6>" LOCATE = SITE "AM13" LEVEL 1;
COMP "DVI_D<7>" LOCATE = SITE "AN13" LEVEL 1;
COMP "DVI_D<8>" LOCATE = SITE "AA10" LEVEL 1;
COMP "DVI_D<9>" LOCATE = SITE "AB10" LEVEL 1;
COMP "CLKIN1_P_IN" LOCATE = SITE "L19" LEVEL 1;
COMP "LED_test" LOCATE = SITE "AD26" LEVEL 1;
COMP "DVI_D<10>" LOCATE = SITE "AP14" LEVEL 1;
COMP "DVI_DE" LOCATE = SITE "AE8" LEVEL 1;
COMP "DVI_D<11>" LOCATE = SITE "AN14" LEVEL 1;
COMP "I2C_SCL_video" LOCATE = SITE "U27" LEVEL 1;
SCHEMATIC END;

